body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  height: 100%;
}
.main-page {
  background: linear-gradient(90deg, #fcfefe 0%, #a5deff 100%);
}
.goit-logo {
  margin-top: 32px;
  margin-bottom: 60px;
}
.main-page-text-container {
  border-radius: 40px;
  background: #fff;
  padding: 60px;
  box-sizing: border-box;
}
.wrapper {
  margin: auto;
  display: flex;
  justify-content: space-between;
  width: 100%;
  position: relative;
}
.main-page-left-side {
  width: 50%;
}
.gus-img {
  width: 50%;
}
.main-page-hello-text {
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  color: #1b1d1f;
  margin-top: 0;
  margin-bottom: 60px;
}
.main-page-title {
  font-weight: 600;
  font-size: 64px;
  line-height: 112%;
  color: #1b1d1f;
  margin-top: 0;
  margin-bottom: 24px;
}
.main-page-descr {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #1b1d1f;
  margin-top: 0;
  margin-bottom: 32px;
}
.main-page-btn {
  color: #fff;
  border: none;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  border-radius: 8px;
  width: 172px;
  height: 48px;
  background: #ff6b0a;
  padding-top: 12px;
  padding-right: 24px;
  padding-left: 24px;
  padding-bottom: 12px;
  box-sizing: border-box;
}

.facts {
  padding-top: 48px;
  padding-bottom: 100px;
  text-align: center;
}
.facts-trezub {
  margin-bottom: 24px;
}
.facts-title {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 48px;
  line-height: 150%;
  color: #1b1d1f;
  margin-bottom: 32px;
  margin-top: 0;
}
.facts-descr {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #1b1d1f;
  width: 772px;
  margin: auto;
  margin-top: 0;
  margin-bottom: 24px;
}
.facts-item {
  width: 30%;
}
.facts-item-img {
  width: 100%;
}
.facts-item-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 100%;
  text-align: center;
  color: #1b1d1f;
  margin-bottom: 32px;
  margin-top: 0;
}
.facts-item-descr {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  color: #1b1d1f;
  margin-top: 0;
  margin-bottom: 0;
}
.form-container {
  width: 100%;
  padding-top: 80px;
  padding-bottom: 80px;
  box-sizing: border-box;
  background: linear-gradient(90deg, #fcfefe 0%, #a5deff 100%);
  display: flex;

  align-items: center;
}
.form {
  background: #fff;
  border-radius: 40px;
  padding-top: 32px;
  padding-bottom: 60px;
  padding-left: 60px;
  padding-right: 60px;
  box-sizing: border-box;
  text-align: center;
}
.form-trezub {
  margin-bottom: 32px;
}
.form-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 100%;
  color: #1b1d1f;
  margin-top: 0;
  margin-bottom: 12px;
}
.form-descr {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #1b1d1f;
  margin-top: 0;
  margin-bottom: 24px;
}
.form-field {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.form-field-label {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #1b1d1f;
  margin-top: 0;
  margin-bottom: 8px;
}
.form-field-name {
  margin-bottom: 24px;
}
.form-field-email {
  margin-bottom: 48px;
}
.form-input {
  border: 1px solid #005bbb;
  border-radius: 8px;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #1b1d1f;
  padding-top: 12px;
  padding-right: 24px;
  padding-left: 24px;
  padding-bottom: 12px;
  box-sizing: border-box;
  width: 100%;
}
.form-btn {
  color: #fff;
  border: none;
  cursor: pointer;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  border-radius: 8px;
  width: 172px;
  height: 48px;
  background: #ff6b0a;
  padding-top: 12px;
  padding-right: 24px;
  padding-left: 24px;
  padding-bottom: 12px;
  box-sizing: border-box;
  border: none;
}
.gus-anim {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  margin-bottom: auto;
  margin-top: auto;
  width: 100%;
  z-index: 2;
  pointer-events: none;
}
@media screen and (max-width: 1170px) {
  .wrapper {
    width: 100%;
  }
  .main-page-left-side {
    padding: 20px;
    box-sizing: border-box;
  }
  .main-page-text-container {
    padding: 20px;
  }
  .main-page-title {
    font-size: 44px;
  }
  .main-page-hello-text {
    margin-bottom: 10px;
  }
  .gus-img {
    align-self: flex-end;
  }
}
@media screen and (max-width: 800px) {
  .wrapper {
    flex-direction: column;
    align-items: center;
  }
  .main-page-left-side {
    width: 100%;
    flex-direction: column;
    display: flex;
    align-items: center;
  }
  .main-page-text-container {
    text-align: center;
  }
  .facts-descr {
    width: 100%;
  }
  .facts {
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
  }
  .facts-item {
    width: 450px;
  }
}
@media screen and (max-width: 600px) {
  .form {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
  }
  .form-container {
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
  }
  .gus-img {
    width: 100%;
  }
  .facts-item {
    width: 100%;
  }
}
@media screen and (max-width: 420px) {
  .facts-title {
    font-size: 24px;
    line-height: 30px;
  }
  .main-page-text-container {
    width: 100%;
  }
  .main-page-title {
    font-size: 30px;
  }
}
